table#search_table tr td:first-child{
	font: 16px "Times New Roman";
	width: 180px;
}
table#result_table tr:first-child td{
	font: bold 16px "Times New Roman";
	text-align: center;
	text-decoration: underline;
}
table#result_table tr:nth-child(n+2) td{
	font: 15px "Courier New";
}
table#result_table tr:nth-child(2n){
	background: ghostwhite;
}